.article-template__container {
    margin: 0 15%;
    display: grid;
    grid-template-columns: 2fr .5fr;
    gap: 50px;
}
.article-container__title {
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
}
.articleIntro {
    width: 80%;
    height: 200px;
    font-size: 20px;
    color: #727272;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.article_form__submit {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: white;
    color: black;
    border: 2px solid #20B3D1;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 25px;
    transition: .25s ease-in-out;
    font-weight: 600;
    margin-bottom: 100px;
    &:hover {
        background-color: #20B3D1;
        transition: .25s ease-in-out;
        color: white;
        cursor: pointer;
    }
}
.article-info > div {
    padding: 20px;
    background-color: #e2e2e2;
    margin-top: 15px;
}
.article-info__author {
    & > img {
        width: 80%;
        margin: 0 10%;
        border-radius: 50%;
    }
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #727272;
   

}
.category {
    padding: 3px 9px 3px 9px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: inline-block;
    border-radius: 15px;
    font-weight: 600;
    transition: .2s ease-in-out;
    color: #727272;
    // cursor: pointer;
}
.modify_article_article_tags {
    
    text-align: left !important;
}
.article-info__date {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #727272;

}
.article-info__title {
    margin: 0;
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
    color: #727375;
}
.article-info__line {
    border: 1px solid #727375;
}
.article-info__social-link {
    color: #727272;
    & > a {
            text-decoration: none;
    }
}
