.project-details__addProjectForm {
    margin: 0 10% 150px 10%;
    margin-bottom: 75px;
}
.project-details__project-intro {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
}
.project-intro__left {
    flex: 1 1;
  }
.project-intro__right {
  flex: 2 1;
}
.project-intro__img {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.project-intro__titel {
    font-size: 13vw;
    margin: 10px 0 10px 0 ;
    text-align: center;
}
.project-intro__textarea {
    display: block;
    resize: none;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    width: 70%;
}
.project-intro__link-input-div {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}
.project-intro__text-input {
    margin-left: 10px;
}
.project-details__title {
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5px;
}
.project-details__hr { 
    border: 1px solid;
}
.project-details__submit-div {
    width: 40%;
    margin: 0 auto;
    
}
.project-details__submit {
    width: 100%;
    margin: 50px 0;
}