.adminHome__container {
    margin: 0 10% 75px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 25px;
}
.addProject__container {
    width: 100%;
    padding: 20px;
    background-color: rgba(236, 236, 236, 0.726);
}
.addProject__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
}
.addProject__form {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.addProject__label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.addProject__text {
    display: block;
    margin-top: 3px;
    width: 100%;
}
.addProject__file {
    margin: 10px 0;
}
.addProject__submit {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: white;
    color: black;
    border: 2px solid #20B3D1;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 25px;
    transition: .25s ease-in-out;
    font-weight: 600;
    &:hover {
        background-color: #20B3D1;
        transition: .25s ease-in-out;
        color: white;
        cursor: pointer;
    }
}

// MODIFY PROJECT
.modifyProject__container {
    grid-row: 2/3;
    grid-template-columns: 1/2;
}
.modifyProject__select {
    display: block;
    margin-top: 5px;
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.modifyProject__option {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

// DELETE PROJECT
.deleteProject__container {
    grid-row: 3/4;
    grid-template-columns: 1/2;
}