.adminHome__container {
    margin: 0 10% 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 60px;
}
.addProject__container {
    width: 100%;
    padding: 20px;
    background-color: rgba(236, 236, 236, 0.726);
}
.addProject__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
}
.addProject__form {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.addProject__label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.addProject__text {
    display: block;
    margin-top: 3px;
    width: 100%;
}
.addProject__file {
    margin: 10px 0;
}
.addProject__submit {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: white;
    color: black;
    border: 2px solid #20B3D1;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 25px;
    transition: .25s ease-in-out;
    font-weight: 600;
    &:hover {
        background-color: #20B3D1;
        transition: .25s ease-in-out;
        color: white;
        cursor: pointer;
    }
}

// MODIFY PROJECT
.modifyProject__container {
    grid-row: 2/3;
    grid-template-columns: 1/2;
}
.modifyProject__select {
    display: block;
    margin-top: 5px;
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.modifyProject__option {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

// DELETE PROJECT
.deleteProject__container {
    grid-row: 3/4;
    grid-template-columns: 1/2;
}

// ADD CATEGORY
.addCategory__container {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
   
}

// ADD ARTICLE 
.addArticle__container {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
}
.article-cat__article-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    background-color: white;
    box-shadow: 0 2px 12px 0 rgba($color: #000000, $alpha: .4);
    border-radius: 25px;
    border: 2px solid #20B3D1;
    visibility: hidden;
}
#click:checked ~ .article-cat__article-overlay {
    opacity: 1;
    visibility: visible;
}

.article-overlay__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 46px;
    text-align: center;
    margin-top: 30px;
}
.article-overlay__close {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #000000;
    font-size: 30px;
    cursor: pointer;
}
.article-overlay__body-categories {
    width: 70%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}
.click-me {
    opacity: 0;
}
.addArticle__label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    border: solid 2px #20B3D1;
}

