.Javascript {
    background-color: rgb(221, 221, 34);
    border: 2px solid darken($color: rgb(221, 221, 34), $amount: 5);
    &:hover {
        background-color:darken($color: rgb(221, 221, 34), $amount: 5) ;
    }
}