.header-div {
    margin: 0 5%;
    margin-top: 20px;
    margin-bottom: 7%;
    font-family: 'Josefin Sans', sans-serif ;
}
.header-div__logo-link {
    display: inline-block;
}
.header-div__logo-img {
    width: 100px;
}
.header__nav {
    width: auto;
    height: 106px;
    margin: auto 0;
    float: right;
}
.header__list {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}
.header__link {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: .3s ease-in-out;
    &:hover {
        transition: .3s ease-in-out;
        color: #20B3D1;
    }
}
.header__link--active {
    border-bottom: 3px solid #20B3D1;
}

// Header responsive 
@media screen and (min-width: 38em) {
    .header-div__logo-img {
        width: 150px;
    }
    .header__link {
        font-size: 26px;
    }
    .header__list {
        margin-top: 25px;
    }
}
@media screen and (min-width: 70em) {
    .header-div {
        margin: 0 10%;
        margin-top: 40px;
    }
    .header-div__logo-img {
        width: 200px;
    }
    .header__link {
        font-size: 30px;
    }
    .header__list {
        margin-top: 25px;
    }
}



.footer {
    width: 100%;
    background-color: white;
}
.footer__container {
    margin: 0 5%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}
.footer__text {
    text-align: center;
}
.footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.footer__list-item {
    margin: 0 20px;
}
.footer__list-item__link {
    text-decoration: none;
    color: black;
    font-size: 26px;
    transition: .2s ease-in-out;
    &:hover {
        transition: .3s ease-in-out;
        color: #20B3D1;
    }
}


