@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
}


@import 'about';
@import 'headerFooter';  
@import 'home';  
@import 'addProjectPage';
@import 'addArticlePage';
@import 'categories';
@import 'projectDetailPage';
@import 'blogHome'; 
@import 'adminLogIn'; 
@import 'adminHome';