@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

.header-div {
  margin: 0 5%;
  margin-top: 20px;
  margin-bottom: 7%;
  font-family: "Josefin Sans", sans-serif;
}

.header-div__logo-link {
  display: inline-block;
}

.header-div__logo-img {
  width: 100px;
}

.header__nav {
  width: auto;
  height: 106px;
  margin: auto 0;
  float: right;
}

.header__list {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.header__link:hover {
  transition: 0.3s ease-in-out;
  color: #20B3D1;
}

.header__link--active {
  border-bottom: 3px solid #20B3D1;
}

@media screen and (min-width: 38em) {
  .header-div__logo-img {
    width: 150px;
  }

  .header__link {
    font-size: 26px;
  }

  .header__list {
    margin-top: 25px;
  }
}
@media screen and (min-width: 70em) {
  .header-div {
    margin: 0 10%;
    margin-top: 40px;
  }

  .header-div__logo-img {
    width: 200px;
  }

  .header__link {
    font-size: 30px;
  }

  .header__list {
    margin-top: 25px;
  }
}
.footer {
  width: 100%;
  background-color: white;
}

.footer__container {
  margin: 0 5%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.footer__text {
  text-align: center;
}

.footer__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.footer__list-item {
  margin: 0 20px;
}

.footer__list-item__link {
  text-decoration: none;
  color: black;
  font-size: 26px;
  transition: 0.2s ease-in-out;
}
.footer__list-item__link:hover {
  transition: 0.3s ease-in-out;
  color: #20B3D1;
}

.intro__container {
  margin: 0 5%;
}

.intro__title, .quote__author {
  font-family: "Josefin Sans", sans-serif;
}

.intro__title {
  width: 90vw;
  font-size: 6vw;
}

.quote__author {
  font-size: 14px;
  margin-top: 0;
}

.quote__text {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #87898C;
  margin-bottom: 5px;
  font-weight: 500;
}

.blue-text {
  color: #20B3D1;
}

.intro__socials {
  display: none;
}

@media screen and (min-width: 370px) {
  .quote__text {
    font-size: 14px;
  }

  .quote__author {
    font-size: 16px;
  }

  .intro__socials {
    display: block;
  }

  .intro__list {
    list-style: none;
    padding: 0;
    margin-top: 30px;
  }

  .intro__list-item {
    display: inline-block;
    font-size: 24px;
  }
  .intro__list-item > a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
  }
}
@media screen and (min-width: 750px) {
  .intro__title {
    margin-top: 10px;
    font-size: 3.8vw;
    width: 53vw;
    margin-bottom: 1vw;
  }

  .home__intro {
    height: 40vw;
    background-image: url("../img/intro_background.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .intro__container {
    position: absolute;
    left: 6.2vw;
    top: 7vw;
    height: 35vw;
  }

  .quote__text {
    font-size: 1.5vw;
  }

  .quote__author {
    font-size: 2vw;
  }

  .intro__list-item {
    font-size: 40px;
  }
}
.home-about__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 7vw;
  margin-bottom: 4vw;
  margin-top: 4vw;
  text-align: left;
  margin-left: 10vw;
}

.home__home-about {
  display: block;
  position: relative;
}

.home-about__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr auto 1fr;
  text-align: center;
}

.home-about__img {
  margin: 0 auto;
  width: 70%;
}

.home-about__name {
  font-size: 10vw;
  font-family: "Josefin Sans", sans-serif;
}

.home-about__text {
  width: 90%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}

@media screen and (min-width: 550px) {
  .home-about__grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30px 1fr 30px;
    margin: 6.5%;
    margin-top: 8%;
    margin-bottom: 10%;
    text-align: left;
  }

  .home-about__title {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .home-about__img-container {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .home-about__img {
    width: 100%;
  }

  .home-about__container {
    grid-row: 2/4;
    grid-column: 2/3;
    padding-left: 5%;
    background-color: #f3f2f2;
    padding-bottom: 7%;
  }

  .home-about__name {
    font-size: 5vw;
    margin-top: 5%;
  }

  .home-about__text {
    margin-left: 0;
  }

  .home-about__title {
    position: absolute;
    font-size: 7vw;
    top: -8vw;
    left: 24.8vw;
  }
}
@media screen and (min-width: 1020px) {
  .home-about__grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40px 1fr 30px;
    margin: 15.5%;
    margin-bottom: 3%;
    margin-top: 6.5%;
  }

  .home-about__name {
    font-size: 40px;
  }

  .home-about__title {
    position: absolute;
    font-size: 5vw;
    top: -4.8vw;
    left: 28vw;
  }
}
@media screen and (min-width: 1350px) {
  .home-about__text {
    font-size: 18px;
  }

  .home-about__grid {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 70px 1fr 30px;
    margin: 20.5vw;
    margin-top: 6.5%;
    margin-bottom: 3%;
  }

  .home-about__name {
    font-size: 70px;
  }

  .home-about__text {
    font-size: 20px;
    margin-bottom: 5vw;
  }

  .home-about__title {
    position: absolute;
    font-size: 4vw;
    top: -4vw;
    left: 33vw;
  }
}
.gray-row {
  background-color: #f3f2f2;
}

.projecten__container {
  margin: 0 5%;
  margin-top: 60px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project__overlay {
  color: #fefefe;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 0;
  margin: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 0.5s;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.project__title {
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
  font-family: "Josefin Sans", sans-serif;
}

.project__keywords {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.project__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-carousel {
  margin: 0 auto;
  width: 80%;
}

.projecten__title {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  width: 100vw;
  display: block;
  font-size: 7vw;
}

.owl-prev, .owl-next {
  background-color: white !important;
}

.nav-right, .nav-left {
  color: #20B3D1;
  font-size: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.owl-dot.active > span {
  background: #20B3D1 !important;
}

@media screen and (min-width: 760px) {
  .nav-right, .nav-left {
    color: #20B3D1;
    font-size: 46px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .owl-dot > span {
    width: 20px !important;
    height: 20px !important;
  }

  .projecten__title {
    margin-bottom: 20px;
    font-size: 57px;
  }

  .project__title {
    font-size: 36px;
    margin-top: 20px;
  }

  .project__keywords {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1020px) {
  .owl-dots {
    display: none;
  }

  .owl-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 35%;
  }

  .owl-prev {
    position: absolute;
    left: -15%;
    background-color: transparent !important;
  }

  .owl-next {
    position: absolute;
    right: -15%;
    background-color: transparent !important;
  }

  .gray-row {
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1400px) {
  .project__overlay {
    opacity: 0;
  }
  .project__overlay:hover {
    opacity: 1;
  }
}
.contact__container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.contact__title {
  font-size: 7vw;
  font-family: "Josefin Sans", sans-serif;
}

.contact-form__input {
  font-family: "Montserrat", sans-serif;
  border: none;
  border-bottom: 2px solid gray;
  padding: 0 0 10px 0;
  margin-bottom: 15px;
  font-weight: 500;
}
.contact-form__input:focus {
  outline: none;
}

@media screen and (min-width: 760px) {
  .contact-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 70%;
  }

  .contact__title {
    font-size: 57px;
  }
}
.project-details__addProjectForm {
  margin: 0 10% 150px 10%;
  margin-bottom: 75px;
}

.project-details__project-intro {
  display: flex;
  width: 70%;
  margin: 0 auto 100px;
  font-family: "Josefin Sans", sans-serif;
}

.project-intro__left {
  flex: 1 1;
  margin-right: 50px;
}

.project-intro__right {
  flex: 2 1;
}

.project-intro__img {
  width: 100%;
}

.project-intro__titel {
  font-size: 64px;
  margin: 10px 0 10px 0;
}

.project-intro__textarea {
  display: block;
  resize: none;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  width: 70%;
}

.project-intro__link-input-div {
  display: block;
  font-size: 20px;
  margin-top: 10px;
}

.project-intro__text-input {
  margin-left: 10px;
}

.project-details__title {
  font-size: 32px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 5px;
}

.project-details__hr {
  border: 1px solid;
}

.project-details__submit-div {
  width: 40%;
  margin: 0 auto;
}

.project-details__submit {
  width: 100%;
  margin: 50px 0;
}

.article-template__container {
  margin: 0 15%;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  gap: 50px;
}

.article-container__title {
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
}

.articleIntro {
  width: 80%;
  height: 200px;
  font-size: 20px;
  color: #727272;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.article_form__submit {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: white;
  color: black;
  border: 2px solid #20B3D1;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 25px;
  transition: 0.25s ease-in-out;
  font-weight: 600;
  margin-bottom: 100px;
}
.article_form__submit:hover {
  background-color: #20B3D1;
  transition: 0.25s ease-in-out;
  color: white;
  cursor: pointer;
}

.article-info > div {
  padding: 20px;
  background-color: #e2e2e2;
  margin-top: 15px;
}

.article-info__author {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #727272;
}
.article-info__author > img {
  width: 80%;
  margin: 0 10%;
  border-radius: 50%;
}

.category {
  padding: 3px 9px 3px 9px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: inline-block;
  border-radius: 15px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  color: #727272;
}

.modify_article_article_tags {
  text-align: left !important;
}

.article-info__date {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #727272;
}

.article-info__title {
  margin: 0;
  font-size: 26px;
  font-family: "Josefin Sans", sans-serif;
  color: #727375;
}

.article-info__line {
  border: 1px solid #727375;
}

.article-info__social-link {
  color: #727272;
}
.article-info__social-link > a {
  text-decoration: none;
}

.Javascript {
  background-color: #dddd22;
  border: 2px solid #c7c71f;
}
.Javascript:hover {
  background-color: #c7c71f;
}

.project-details__container-details {
  margin: 0 10%;
  margin-bottom: 75px;
}

.project-intro__intro-text {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: gray;
}

.project-intro__link-div {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
}

.project-intro__link-div:nth-child(4) {
  margin-left: 25px;
}

.project-intro__link {
  text-decoration: none;
  color: black;
}
.project-intro__link > p {
  font-size: 20px;
  border-bottom: 3px solid #20B3D1;
}

.blog__container {
  margin: 0 10% 75px;
}

.blog-container__blog-header {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.blog-header__title {
  font-size: 80px;
  margin: 0;
}

.blog-header__subtitle {
  font-size: 26px;
  color: #20B3D1;
}

.blog-header__search-input {
  font-family: "Josefin Sans", sans-serif;
  width: 250px;
  font-size: 18px;
  height: 40px;
  padding: 5px;
  border-radius: 15px 0 0 15px;
  border: 1px solid gray;
}

.blog-header__submit-input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  width: 80px;
  height: 40px;
  font-size: 18px;
  border-radius: 0 15px 15px 0;
  border: 2px solid #20B3D1;
  transition: 0.3s ease-in-out;
  background-color: white;
  cursor: pointer;
}
.blog-header__submit-input:hover {
  color: white;
  background-color: #20B3D1;
}

.blog-container__article-list {
  margin: 100px 0;
  margin-bottom: 150px;
}

.error-message-articles {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.article-list__year {
  font-size: 42px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 0;
}

.article-list__line {
  border: 1.5px solid gray;
}

.article_list-articles-container {
  margin-bottom: 100px;
}

.articles-container__article {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 0.5fr;
}

.article-date {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 16px;
  color: #727272;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.article-title {
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 30px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  margin-bottom: 5px;
  cursor: pointer;
}
.article-title > a {
  text-decoration: none;
  color: black;
}

.article-tags__tag {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 16px;
  color: #727272;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  font-weight: 600;
}

.article-tags {
  text-align: right;
}
.article-tags > p {
  margin-top: 0;
}

.admin-login-div {
  font-family: "Josefin Sans", sans-serif;
  width: 100vw;
}

.admin-login__title {
  font-size: 40px;
  text-align: center;
  color: #20B3D1;
  margin-bottom: 15px;
}

.admin-login__form {
  display: grid;
  margin: 0 40%;
}

.admin-login__label {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
}

.admin-login__input {
  height: 50px;
  margin-top: 5px;
  font-size: 22px;
  color: black;
  border: none;
  background-color: #daf7fd;
}

.admin-login__submit {
  height: 50px;
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: white;
  color: black;
  border: 2px solid #20B3D1;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 25px;
  transition: 0.25s ease-in-out;
  font-weight: 600;
}
.admin-login__submit:hover {
  background-color: #20B3D1;
  transition: 0.25s ease-in-out;
  color: white;
  cursor: pointer;
}

.adminHome__container {
  margin: 0 10% 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.addProject__container {
  width: 100%;
  padding: 20px;
  background-color: rgba(236, 236, 236, 0.726);
}

.addProject__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.addProject__form {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.addProject__label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

.addProject__text {
  display: block;
  margin-top: 3px;
  width: 100%;
}

.addProject__file {
  margin: 10px 0;
}

.addProject__submit {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: white;
  color: black;
  border: 2px solid #20B3D1;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 25px;
  transition: 0.25s ease-in-out;
  font-weight: 600;
}
.addProject__submit:hover {
  background-color: #20B3D1;
  transition: 0.25s ease-in-out;
  color: white;
  cursor: pointer;
}

.modifyProject__container {
  grid-row: 2/3;
  grid-template-columns: 1/2;
}

.modifyProject__select {
  display: block;
  margin-top: 5px;
  width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.modifyProject__option {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.deleteProject__container {
  grid-row: 3/4;
  grid-template-columns: 1/2;
}

.addCategory__container {
  grid-row: 1/2;
  grid-column: 3/4;
  width: 100%;
}

.deleteCat__container {
  grid-row: 3/4;
  grid-column: 3/4;
}

.addArticle__container {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
}

.deleteArticle__container {
  grid-column: 2/3;
  grid-row: 3/4;
}

.modifyArticle__container {
  grid-column: 2/3;
  grid-row: 2/3;
}

.article-cat__article-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
  background-color: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 2px solid #20B3D1;
  visibility: hidden;
}

#click:checked ~ .article-cat__article-overlay {
  opacity: 1;
  visibility: visible;
}

.article-overlay__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 46px;
  text-align: center;
  margin-top: 30px;
}

.article-overlay__close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #000000;
  font-size: 30px;
  cursor: pointer;
}

.article-overlay__body-categories {
  width: 70%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}

.click-me {
  opacity: 0;
}

.addArticle__label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 0;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  border: solid 2px #20B3D1;
}

.about-container {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  margin: 0 20%;
  margin-top: -50px;
}

.about-image {
  width: 100%;
}

.about-info__container {
  margin: 0 0 0 10%;
}

.about-info__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

.about-info__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #87898C;
  font-weight: 500;
}

.about-info__contact-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}

.about-info__contact-mail {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.about-info__contact-mail > a {
  color: #20B3D1;
  text-decoration: none;
}

.about-info__cv-button {
  background-color: #20B3D1;
  cursor: pointer;
  padding: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
